@import url('https://fonts.googleapis.com/css2?family=Phudu&family=Playfair+Display&family=Rubik:ital@1&display=swap');

* {
  margin: 0;
}

nav {
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2.5vh 10vw;
  color: white;
  background-color: #27374d;
}

h1 {
  font: 6vh 'Phudu', cursive;
}

#nav-bar {
  display: none;
}

#about {
  background-color: #526d82;
  height: 85vh;
}

#about h2 {
  font: 4vh 'Phudu', cursive;
  color: #27374d;
  padding: 2vh;
  text-align: center;
}

#about div {
  font: 3.5vh 'Rubik', sans-serif;
  color: white;
  padding: 0 3vh;
}

.secondary-word {
  font: 5vh 'Dancing Script', cursive;
}

@media only screen and (min-width: 900px) {
  /* For desktop display */

  h1 {
    font: 5vw 'Phudu', cursive;
    align-self: center;
  }

  nav {
    padding: 1vw 5vw;
    height: 15vh;
  }

  #nav-bar {
    font-family: 'Playfair Display', serif;
    width: 50vw;
    display: flex;
    justify-content: space-around;
  }

  #nav-bar a {
    text-decoration: none;
    color: white;
    align-self: center;
    font-size: 2.5vw;
  }
}