@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,300&family=Phudu&family=Playfair+Display&display=swap');

* {
  margin: 0;
}

nav {
  height: 10vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1vh 0;
  color: white;
  background-color: #27374d;
  position: fixed;
  top: 0;
}

h1 {
  font: 6vh 'Phudu', cursive;
}

br, #social span, #nav-bar {
  display: none;
}

main {
  background-color: #9DB2BF;
  padding: 12vh 0 0;
}

section {
  min-height: 88vh;
}

#about {
  display: flex;
  flex-direction: column;
}

section h2 {
  font: 5vh 'Phudu', cursive;
  padding: 3vh 0;
  color: #27374d;
  text-align: center;
}

#about p {
  font: 3.5vh 'Nunito Sans', sans-serif;
  color: #3c5161;
  padding: 0 3vh 3vh;
  text-align: center;
}

#social {
  width: 50vw;
  padding-top: 5vh;
  align-self: center;
  display: flex;
  justify-content: space-around;
}

#social a {
  font: 5vh 'Nunito Sans', sans-serif;
  color: #27374d;
  text-decoration: none;
}

#skills ul {
  padding: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

#skills li {
  display: block;
  text-align: center;
  font: 3.5vh 'Nunito Sans', sans-serif;
  color: #3c5161;
}

@media only screen and (min-width: 900px) {
  /* For desktop display */

  h1 {
    font: 9vh 'Phudu', cursive;
    align-self: center;
  }

  nav {
    display: flex;
    justify-content: space-between;
    padding: 1vh 5vw;
    height: 12vh;
    width: 90vw;
  }

  #nav-bar {
    font-family: 'Playfair Display', serif;
    width: 50vw;
    display: flex;
    justify-content: space-around;
  }

  #nav-bar a {
    text-decoration: none;
    color: white;
    align-self: center;
    font-size: 2.5vw;
  }

  main {
    padding: 14vh 0 0vh;
  }

  section {
    min-height: 86vh;
    padding: 0 12vw;
    /* border: solid 2px yellow; */
  }

  section h2 {
    padding: 5vh 0;
    font-size: 8vh;
  }
}